@media screen and (max-width:800px){
    .page{width:100vw;height:100vh;border:1px solid #C4C4C4}
}
.page{width:100vw;height:370vh;border:1px solid #C4C4C4}
.textbubble{width: 3vw; height: 3vh;

    transition: transform 200ms;
    position: absolute;

}
nav ul li{display:inline;}
#page0{background:#C4C4C4}
#page1{background:#C4C4C4}

#page2{background:#C4C4C4}
#page3{background:#C4C4C4}


.qr{
    display:flex;
    justify-content: center;
    margin-left:37vw;
    margin-top:6vh;
    height:20vw;
    width:20vw;
}

/* smooth scrolling*/
html, body{
    
    scroll-behavior: smooth;
    /* this removes any chance of horizontal scroll bar appearing*/
    max-width: 100%;
    overflow-x: hidden;
    
}

/* default typeset */
*{margin: 0;
padding: 0;
font-family: Cambria, Cochin;
}
.heading{
    display: grid;
    grid-template-columns: 45% auto 10%;
    justify-self: center;
    padding: 15px;
    background-color: #575959;
   
   
}
/* about section */
.about{
    display:flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 15px;
    font-size:3vw;
}
/* descriptions below about section*/
.description{
    display:flex;
    background-color:lightblue;
    padding:15px;
    font-size:3vw;
    border:black;
    border-top: transparent;
    border-style: ridge;
    opacity: 0.6;
    transition:0.3s;
    
}
.description:hover {opacity:1}
/* so the borders don't overlap the borders are seperate*/
.descriptiontop{
    display:flex;
    background-color:lightblue;
    padding:15px;
    font-size:3vw;
    border:black;
    border-style: ridge;
    opacity:0.6;
    transition:0.3s;
    
}
.descriptiontop:hover {opacity: 1}
/*description text*/
.description a{
    padding:5px;
}
/* when the webpage is in desktop mode it will serve as a shortcut to the home page*/
.mainpageimage{
    position: absolute; left: 10px;
    background-color: transparent;
    height: auto;
    width: 10px;

}
@media screen and (max-width:800px){
    .mainpageimage{
        display:none;
    
    }
}
#mainpage1btn{
    background-color: transparent;
    height:10vw;
    width:10vw;
    
}
#mainpage2btn{
    background-color: transparent;
    height:10vw;
    width:10vw;
}
#mainpage3btn{
    background-color: transparent;
    height:10vw;
    width:10vw;
}




/*for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
nav ul li{display:block;} /*make a menu items vertical*/
#hamIcon{display: block;
width: 100vw;
height:8vw;
font-size: 5vw;
padding: 10px;
justify-content: center;

} /* unhide menu icon */
nav ul{display:none;} /*hide the menu item list*/
}
@media screen and (max-width:800px){
    .navigator{
        grid-column: 1;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        flex-grow : 1;
        row-gap: 4vw;
        
        
       
       
       
        
    }
    .heading .navigator button{
        font-size: 5vw;
        width: 100vw;
        height: 6vw;
        background-color: lightskyblue;
        border-style:ridge;
    }

}
.navigator{
    grid-column: 1/4;
    display: flex;
    justify-self: center;
    flex-flow: row wrap;
    flex-grow : 1;
    column-gap: 10vw;
    
   
}
/* font size of the directory buttons*/
.heading .navigator button{
    font-size: 3vw;
    background-color: lightskyblue;
    border-style:ridge;
    border-radius: 5px;
    opacity:0.6;
    transition: 0.3s;
}

.heading .navigator button:hover{
    opacity: 1;
}
.mainheader{ 
    display:flex;
    padding:15px;
    background-color: #575959;
    justify-content: center;
}


.bubblebutton{
    display:flex;
    flex-basis: 40%;
    background-color: transparent;
    flex-direction: row;
    

}
.bubblebutton input{
    width:30vmin;
    height:30vmin;
    margin-top:2vh;
    
 }
.textbubble{
    
    flex-basis: 20%;
    opacity:0;
    transition:0.5s;
    font-size:2.5vw;
    /*position:relative;*/
    left:60vw;
    justify-content: center;
    width:30vw;
    margin-top:6vh;
    margin-left:1vh;
}
.subbubble{
   
    
    flex-basis: 15%;
    opacity:0;
    transition:0.5s;
    font-size:4vw;
    font-weight: 1000;
   
    margin-left: 7vw;
    margin-right:3vw;
    margin-top:10vw;
    
    /*position:relative;*/
   
}
iframe{
    display:flex;
    width:88.9vw;
    height:80vw;
    margin-left:5vw;
    margin-top: 10vh;
}